__pycache__/
*.py[cod]
*.egg-info/
third_party/OmniPaint/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.env

checkpoints/*
!checkpoints/.gitkeep
weights/*
!weights/.gitkeep

outputs/**
!outputs/**/
!outputs/**/.gitkeep
